List((
    texture_width: 225,
    texture_height: 75,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 75,
            height: 75
        ),
        (
            x: 75,
            y: 0,
            width: 75,
            height: 75
        ),
        (
            x: 150,
            y: 0,
            width: 15,
            height: 15
        )
    ]
))